*
{
    margin: 0;
    padding: 0;
}
form
{
    background-color: aqua;
    width: 75%;
    border: 2px solid black;
    margin: 50px;
}
label
{
    color: rgb(19, 12, 112);
    padding: 10px;
}
button
{
    color: white;
    background-color: black;
    padding: 10px;  
    border-radius: 20px;
    text-align: center;
    align-items: center;
}